[Unit]
Description=easyeffects

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
