*.DS_Store
*.netrwhist
*.viminfo*
*.vim-fuf-data
*.pyc
.ssh
.bash_history
.neocomplcache
.mysql_history
.pineapples
.coffee_history
.dbshell
.mongorc.js
.zcompdump
.z
.bash_profile_private
.gitconfig_private
.tmux.conf_private
.zshrc_private
