[include]
  path = ~/.gitconfig_private
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[alias]
  co = checkout
  st = status
  aa = add --all .
  cm = commit --verbose
  l = "!. ~/.bin/lib/githelpers && pretty_git_log"
  la = !git l --all
[merge]
  tool = vimdiff
[push]
  default = simple
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[sendemail]
  annotate = yes
[init]
  defaultBranch = main
