*.netrwhist
*.pyc
*.vim-fuf-data
*.viminfo*
.DS_Store
.MacOSX/
.aws
.azure
.bash_logout
.bash_profile_private_conda
.bashrc_backup
.brunch
.clojure/
.cpan/
.dbvis/
.electron-gyp/
.fonts/
.fzf.bash
.gradle/
.hushlogin
.ipython/
.jupyter/
.keras/
.keychain
.landscape/
.motd_shown
.mozilla/
.pypirc
.python_history*
.python_history-15235.tmp
.react-native-cli/
.rediscli_history
.rustup/
.sqlite_history
.standard-v13-cache/
.standardx-v4-cache/
.sudo_as_admin_successful
.texlive2019/
.vscode/
.yarnrc
.zsh_history
/.CFUserTextEncoding
/.Trash/
/.android/
/.atom
/.aws/
/.babel.json
/.bash_history
/.bash_profile_private
/.bash_sessions/
/.bin_private
/.cabal/
/.cache/
/.cargo/
/.ccnet/
/.cocoapods/
/.coffee_history
/.composer/
/.cups/
/.curlrc
/.dbshell
/.docker/
/.dropbox/
/.emacs.d
/.eshell/
/.forever/
/.fzf
/.gem
/.ghc/
/.gitconfig_private
/.gnupg/
/.gnuplot_history
/.history
/.htoprc
/.irssi/
/.lein/
/.lesshst
/.local/
/.m2/
/.matlab/
/.mongorc.js
/.mysql_history
/.neocomplcache
/.node-gyp/
/.node_repl_history
/.npm/
/.npmrc
/.nvm/
/.oracle_jre_usage/
/.overtone/
/.pineapples
/.profile
/.python_history
/.rncache/
/.rnd
/.rvm/
/.ssh
/.subversion/
/.tmux_private.conf
/.tor/
/.v8flags*
/.vim/sessions
/.vimrc_private
/.wget-hsts
/.z
/.z.*
/.zcompdump
/.zshrc_private
/Adlm/
/Applications/
/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Google Drive File Stream
/Google Drive File Stream/
/Google Drive/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Seafile/
/Virtual Machines.localized/
/docs/
/go/
/isus/
/local/
/opt/
/proj-fat/
/proj-versioned/
/proj/
/texmf/
/tmp/
Adlm/
Creative Cloud Files/
Google Drive File Stream
Google Drive/
go/
isus/
local/
texmf/
