*.DS_Store
*.netrwhist
*.viminfo*
*.vim-fuf-data
*.pyc
.ssh
.bash_history
.neocomplcache
.mysql_history
.pineapples
.coffee_history
.dbshell
.mongorc.js
.zcompdump
.z
.z.*
.bin_private
.bash_profile_private
.gitconfig_private
.tmux.conf_private
.zshrc_private
.vimrc_private
.npmrc
.cabal/
.ghc/
.composer/
.eshell/
.m2/
.lein/
.android/
.overtone/
.matlab/
.gnuplot_history
.gnupg/
