[include]
    path = ~/.gitconfig_private
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[alias]
    a = add
    aa = add --all .
    cm = commit --verbose
    cma = commit --amend
    co = checkout
    d = diff
    ds = diff --staged
    l = "!. ~/.bin/lib/githelpers && pretty_git_log"
    la = !git l --all
    p = push
    pf = push --force
    pl = pull
    s = status
    st = status
[merge]
    tool = vimdiff
[push]
    default = simple
[pull]
    rebase = false
[sendemail]
    annotate = yes
[init]
    defaultBranch = main
[user]
    name = Vlad-Stefan Harbuz
    email = vlad@vladh.net
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
