.module,
/* TODO: Remove these unnecessary lines after upgrading waybar. */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-fcitx5,
#custom-date-est,
#custom-date-adt,
#custom-date-jst,
#custom-date-aest,
#custom-date,
#custom-wallpaper
/* end TODO */
{
    padding: 0 12px;
    color: inherit;
}

window#waybar {
    /* background-color: rgba(14, 20, 32, 0.85); */
    background-image: url('/home/vladh/bentus/images/wallpapers/macos-edited/13-Ventura-Dark@2560x1440+blur+dark.jpg');
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
    color: #ffffff;
}
window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    padding: 0;
}
#workspaces button {
    margin: 3px 2px;
    padding: 0px 4px;
    background-color: #141616;
    color: inherit;
    border: none;
    border-radius: 5px;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #333;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
}
#workspaces button.focused {
    background-color: #64727D;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #0055ee;
}

#battery.charging, #battery.plugged {
    color: #88ff88;
}
#battery.critical:not(.charging) {
    color: #ff8888;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
