window#waybar {
    background-color: #0e1420;
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
    color: #ffffff;
}
window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: inherit;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
    border-right: 1px solid rgba(200, 230, 255, 0.15);
}
#workspaces button:last-child {
    border-right-color: transparent;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #333;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
}
#workspaces button.focused {
    background-color: #64727D;
    border-right: none;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
    border-right: none;
}

#mode {
    background-color: #0055ee;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-fcitx5,
#custom-date,
#custom-wallpaper,
image {
    padding: 0 12px;
    border-left: 1px solid rgba(200, 230, 255, 0.05);
    border-radius: 0;
    color: inherit;
}

#battery.charging, #battery.plugged {
    color: #88ff88;
}
#battery.critical:not(.charging) {
    color: #ff8888;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
