/*
!.gitignore
!/aerc
!/envs
!/fcitx5
!/foot
!/gammastep
!/i3
!/kitty
!/mpd
!/mpdasrc
!/ncmpcpp
!/nvim
!/picom
!/pipewire
!/polybar
!/profiles
!/ranger
!/redshift
!/rofi
!/senpai
!/swappy
!/sway
!/waybar
!/wireplumber
!/yt-dlp
