/*
!.gitignore
!/ack
!/aerc
!/electron-flags.conf
!/envs
!/fcitx5
!/fontconfig
!/foot
!/gammastep
!/git
!/helix
!/i3
!/kitty
!/meteorlight
!/mpd
!/mpdasrc
!/ncmpcpp
!/nvim
!/picom
!/pipewire
!/polybar
!/profiles
!/python
!/radio-api
!/ranger
!/redshift
!/rofi
!/senpai
!/sqlite
!/swappy
!/sway
!/systemd
!/tmux
!/waybar
!/wget
!/wireplumber
!/x11
!/yt-dlp
!/zathura
!env
!hosts
!profile
