[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/bin/telegram-desktop -- %u
Name=Telegram Desktop
Comment=Custom definition for Telegram Desktop
